* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  position: relative;
}
body {
  background-color: #f5f7fb;
}
.wrong {
  background-color: #f8bcbc;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.start-screen.invisible {
  display: none;
}
.start-screen > h1 {
  color: #293264;
  font-size: 3rem;
}
.start-screen > button {
  color: white;
  padding: 16px 45px;
  background-color: #4d5b9e;
  border-radius: 15px;
  cursor: pointer;
  border: 0;
}
.yellowCir {
  position: absolute;

  top: -10px;
  right: 0;
}
.blueCir {
  position: absolute;
  bottom: -50px;
  left: -100px;
  width: 297px;
  height: 235px;
}
.answers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 55px;
}
.check-btn {
  background-color: #4d5b9e;
  color: white;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.all-questions {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quest-body {
  display: flex;
  flex-direction: column;
  border-bottom: 0.794239px solid #dbdef0;
  gap: 35px;
  justify-content: center;
}
.answers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;
}
.answers > button {
  border: 0.794239px solid #4d5b9e;
  border-radius: 7.94239px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #f5f7fb;
}
.end-game {
  display: flex;
  gap: 15px;
}
